<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <link rel="stylesheet" href="/../css/style.css">

</head>
<body>
    <h1>edit <%= outfit.name %></h1>

    <form action="/outfits/<%=outfit._id%>?_method=PUT" method="POST">
      name<br><input type="text" name="name" value="<%=outfit.name%>"><br>
      top<br><input type="text" name="top" value="<%=outfit.top%>"><br>
      bottom<br><input type="text" name="bottom" value="<%=outfit.bottom%>"><br>
      shoe<br><input type="text" name="shoe" value="<%=outfit.shoe%>"><br>
      accessory<br><input type="text" name="accessory" value="<%=outfit.accessory%>"><br>
      <button type="submit">update outfit</button>
    </form>

    </body>
</html>
