<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <link rel="stylesheet" href="/../css/style.css">

</head>
<header>
    <h1>fitty</h1>
</header>
<nav id="nav-bar">
<ul id="nav-bar-ul">
    <br><li id="nav-bar-li"><a href="/"><img id="nav-bar-img" src="/images/home-button.png"></a></li><br>
    <br><li id="nav-bar-li"><a href="/users"><img id="nav-bar-img" src="/images/search-button.png"></a></li><br>
    <br><li id="nav-bar-li"><a href="/products"><img id="nav-bar-img" src="/images/products-button.png"></a></li><br>
    <br><li id="nav-bar-li"><a href="/users"><img id="nav-bar-img" src="/images/profile-button.png"></button></a></li><br>
</ul>
</nav>
<body>
<main>
    <h2>edit <%= product.brand %> <%= product.type %> </h2>

    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      brand<br><input type="text" name="brand" value="<%=product.brand%>"><br>
      type<br><input type="text" name="type" value="<%=product.type%>"><br>
      color<br><input type="text" name="color" value="<%=product.color%>"><br>
      image<br><input type="text" name="image" value="<%=product.image%>"><br>
      description<br><textarea name="description" value="<%=product.description%>"></textarea><br>
      <button type="submit">update product</button>
    </form>
    


    <a href="/users/settings"><img id="settings" src="/images/settings-button.png"></a>

    </main>
    </body>
</html>
